//COLORS
$color-grey-light: #ebebeb;
$color-grey-dark: #363636;
$color-blue-dark:#03051e;
$color-primary: #1993d2;
$color-white: #fff;
$color-black: #252525;


//FONT
$default-font-size: 1.6rem;

