.container-nav-header {
    background-image: url(../img/home_BgImage.png);
    background-size: cover;
    background-position: center;
    
    //z-index: -2;
    //position: absolute;
}

.header {
    &-top {
        margin: 0 12%;
        
    }

    &-bottom {
        padding: 4rem 12%;

        @media screen and (min-width: 900px) and (max-width: 1200px){
            padding: 2rem 8%; 
            
        }
        
    }
}

.offer {
    background-color: $color-grey-light;
    padding: 5rem 15%;
    
    @media screen and (max-width: 1200px){
        padding: 2rem 8%; 
        
    }
    
}

.references {
    background-color: $color-primary;
}

.news__box {
    margin: 7rem 15%;
    @media screen and (max-width: 1200px){
        margin: 2rem 8%; 
    }
}

.contact {
    margin: 6rem 12rem;

    @media screen and (max-width: 1200px){
        margin: 2rem 8%;
    }
}

.footer {
    background-color: $color-blue-dark;
    color: $color-white;
    font-size: $default-font-size;
    font-weight: 300;
    padding: 0 15%;

}

.copyright {
    display: flex;
    justify-content: space-around;
    font-size: $default-font-size;
}